@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-display: var(--font-sans);
  --font-text: var(--font-sans);

  --color-base-50: var(--base-50);
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);
  --color-base-500: var(--base-500);
  --color-base-600: var(--base-600);
  --color-base-700: var(--base-700);
  --color-base-800: var(--base-800);
  --color-base-900: var(--base-900);
  --color-base-950: var(--base-950);
  --color-base-1000: var(--base-1000);

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);
  --color-primary-1000: var(--primary-1000);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-error: var(--error);
  --color-error-foreground: var(--error-foreground);
  --color-error-text: var(--error-text);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --font-sans: 'Open Sans', 'sans-serif';
  --display-weight: 700;
  --text-weight: 400;

  --base-50: oklch(0.9883 0.0019 258.27);
  --base-100: oklch(0.9717 0.0038 259.34);
  --base-200: oklch(0.9321 0.0076 259.94);
  --base-300: oklch(0.8715 0.0114 261.25);
  --base-400: oklch(0.7056 0.0171 264.11);
  --base-500: oklch(0.5548 0.0227 264.75);
  --base-600: oklch(0.4465 0.0218 264.54);
  --base-700: oklch(0.3722 0.0199 264.57);
  --base-800: oklch(0.2561 0.018 266.26);
  --base-900: oklch(0.2081 0.0156 268.02);
  --base-950: oklch(0.1291 0.0142 268.92);
  --base-1000: oklch(0.0781 0.0133 269.19);

  --primary-50: oklch(0.9727 0.0146 251.47);
  --primary-100: oklch(0.9366 0.0342 252.32);
  --primary-200: oklch(0.8864 0.0628 250.78);
  --primary-300: oklch(0.8132 0.1069 248.77);
  --primary-400: oklch(0.7145 0.1662 251.5);
  --primary-500: oklch(0.6343 0.2143 255.9);
  --primary-600: oklch(0.5536 0.2657 258.89);
  --primary-700: oklch(0.4903 0.2551 260.26);
  --primary-800: oklch(0.4274 0.2253 261.48);
  --primary-900: oklch(0.3812 0.2103 261.58);
  --primary-950: oklch(0.2772 0.1502 263.62);
  --primary-1000: oklch(0.2207 0.0938 265.17);

  --destructive-red: oklch(51.7% 0.2077 20.73);
  --error-red-light: oklch(95.4% 0.0229 20.73);
  --error-red-base: oklch(55.2% 0.2077 20.73);
  --warning-gold-light: oklch(97.2% 0.0797 92.68);
  --warning-gold-base: oklch(57.3% 0.139 92.68);
  --success-green-light: oklch(95.9% 0.0587 152.5);
  --success-green-base: oklch(52.8% 0.1286 152.5);

  --background: var(--color-white);
  --foreground: var(--base-800);
  --card: var(--color-white);
  --card-foreground: var(--base-800);
  --popover: var(--color-white);
  --popover-foreground: var(--base-800);
  --primary: var(--primary-950);
  --primary-foreground: var(--color-white);
  --secondary: var(--primary-50);
  --secondary-foreground: var(--primary-950);
  --muted: var(--base-50);
  --muted-foreground: var(--base-600);
  --accent: var(--base-100);
  --accent-foreground: var(--base-800);
  --destructive: var(--destructive-red);
  --error: var(--error-red-light);
  --error-foreground: var(--error-red-base);
  --error-text: var(--error-red-base);
  --warning: var(--warning-gold-light);
  --warning-foreground: var(--warning-gold-base);
  --success: var(--success-green-light);
  --success-foreground: var(--success-green-base);
  --border: var(--base-200);
  --input: var(--base-300);
  --ring: var(--primary-300);
  --chart-1: var(--primary-950);
  --chart-2: var(--primary-200);
  --chart-3: var(--primary-400);
  --chart-4: var(--primary-300);
  --chart-5: var(--primary-100);
  --radius: 0.75rem;
  --sidebar: var(--base-100);
  --sidebar-foreground: var(--base-800);
  --sidebar-primary: var(--primary-950);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--base-200);
  --sidebar-accent-foreground: var(--base-800);
  --sidebar-border: var(--base-200);
  --sidebar-ring: var(--primary-950);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  .font-display {
    font-weight: var(--display-weight);
  }
  .font-text {
    font-weight: var(--text-weight);
  }
}
@layer components {
  .page-title {
    @apply text-2xl font-bold mb-4;
  }
  .step-title {
    @apply text-lg font-semibold mb-2;
  }
}
